<!DOCTYPE html>
<html>
<head lang="en">

    <title>Task Scheduler</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
    <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Task Scheduler</h2>

                    <h3>Based off Spring Framework Guru (<a href="https://springframework.guru/spring-boot-web-application-part-4-spring-mvc/">Link</a>)</h3>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/NewBannerBOOTS_2.png" width="400"
                     th:src="@{/images/NewBannerBOOTS_2.png}"/>
            </div>
        </div>
</div>
</body>
</html>